
/* File no longer in use, I just used the login styles in registration for consistency  */
.registration-side {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-min-width: 500px;
}

.error-label {
    -fx-text-fill: #dc3545;
    -fx-font-size: 12px;
    -fx-padding: 5px 0;
    -fx-wrap-text: true;
    -fx-pref-width: 320px;
    -fx-alignment: center;
}


.form-group {
    -fx-spacing: 8;
    -fx-padding: 0 0 10 0;
}

.login-section {
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-padding: 10 0 0 0;
}


.primary-button {
    -fx-min-width: 320px;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #243461;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}

.secondary-button:hover {
    -fx-underline: true;
}


.copyright-text {
    -fx-font-size: 12px;
    -fx-fill: #666666;
    -fx-text-alignment: center;
}
